/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Dynamic Colors */
:root {
  --primary-color: #4c6ef5;
  --secondary-color: #4052b5;
  --link-color: blue;
  --link-hover-color: red;
  --table-bg-color: #ffffff;
  --table-header-bg-color: var(--primary-color);
  --table-header-text-color: #fff;
  --table-cell-bg-color: #f9f9f9;
  --table-cell-hover-bg-color: #e4e7eb;
  --input-bg-color: #fff;
  --button-bg-color: var(--link-color);
  --button-hover-bg-color: #4052b5;
  --pagination-bg-color: #fff;
  --pagination-border-color: #ccc;
  --pagination-hover-bg-color: #4c6ef5;
  --pagination-hover-text-color: #fff;
  --divider-bg-color: #dde0e4;
}

/* Reset and Defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

/* Heading Styles */
h1 {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Link Styles */
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  background-color: var(--table-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  animation: tableFadeIn 0.5s ease-in-out;
  max-width: 800px;
}

@keyframes tableFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Table Header Styles */
th {
  cursor: pointer;
  padding: 15px;
  background-color: var(--table-header-bg-color);
  color: var(--table-header-text-color);
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  transition: background-color 0.3s ease;
}

th:hover {
  background-color: var(--secondary-color);
}

th a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
th a:hover {
  color: var(--link-hover-color);
  animation: fadeIn 0.3s ease;
}

th a:link {
  color: white;
}

th a:hover {
  color: var(--link-hover-color);
}

/* Table Cell Styles */
td, th {
  border: 1px solid #ccc;
  padding: 15px;
}

/* Table Row Styles */
tr:nth-child(even) {
  background-color: var(--table-cell-bg-color);
}

tr:hover {
  background-color: var(--table-cell-hover-bg-color);
}

tr:hover td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr:hover td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Persona Section Styles */
#persona {
  margin-top: 30px;
}

/* Ingredients Section Styles */
#ingredients {
  padding-top: 7px;
}

/* Recipes Section Styles */
#recipes {
  margin-top: 30px;
}

/* Input and Button Styles */
#filter {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: fit-content;
  background-color: var(--input-bg-color);
}

button {
  padding: 8px 15px;
  background-color: var(--button-bg-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

/* Pagination Styles */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination span {
  cursor: pointer;
  padding: 4px 8px;
  margin: 0 5px;
  border: 1px solid var(--pagination-border-color);
  border-radius: 4px;
  background-color: var(--pagination-bg-color);
}

.pagination span:hover {
  background-color: var(--pagination-hover-bg-color);
  color: var(--pagination-hover-text-color);
  border-color: var(--pagination-hover-bg-color);
}

/* Additional styles for the current page indicator */
.pagination span.active {
  background-color: var(--pagination-hover-bg-color);
  color: var(--pagination-hover-text-color);
  border-color: var(--pagination-hover-bg-color);
}

/* Divider Styles */
.divider {
  width: 100%;
  height: 2px;
  background-color: var(--divider-bg-color);
  margin: 5px 0;
}
